.welNav{
    display: flex;
    margin-top: 10px;
    width: 80%;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: white;

    .welcomeLogo{
        width: 30%;
        object-fit: contain;
        border-radius: 0%;


    }

    .pagesRight{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        font-size: 20px;
        margin-right: 70px;
        

        .pagesLink{
            cursor: pointer;
            &:active{
                color: #11527B;
            }
        }
    }
}
