
            .editRight{
                flex: 2;
                align-self: flex-start;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    padding: 20px;
                    justify-content: space-between;


                    .editformInput{
                        width: 40%;
                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon{
                                cursor: pointer;
                            }
                        }

                        input{
                            outline: none;
                            width: 100%;
                            padding: 5px;
                            background-color: transparent;
                            color: black;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }
                    .editformBtn{
                        width: 100%;
                    }
                    button{
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;

                        &:disabled{
                            background-color: rgba(0, 128, 128, 0.261);
                            cursor: not-allowed;
                        }

                    }
                }
            }
